header{
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 20%;
        height: 20%;
    }
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: bold;
        color: white;
    }
    nav{
        ul{
            list-style-type:none;
            display: flex;
            li{
                margin: 10px 15px 15px 10px;
                a{
                    text-decoration: none;
                    color: white;
                    transition: 1s;
                    &:hover{
                        font-size: 150%;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}